%link(rel="stylesheet" href="report.css")

%h1 Spam Dashboard

- @open_spam_reports.each do |spam|
  %table
    %tr
      %td
        %form{action: "/reports/#{spam.id}", method: "post"}
          %button{type: "hidden", name: "_method", value: "put"} Resolve
        %button Block
    %tr
      %th ID
      %th Type
      %th Message
      %th State
    %tr
      %td= spam.spam_report_id
      %td= spam.payload_report_type
      %td= spam.payload_message
      %td= spam.state
    %br
